*.js
!custom-resources/oss-index.js
!jest.config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

agent_ids.json
genu.text

__pycache__/*
image/~$architecture.pptx

# Python Coder のモジュールは無視
action-groups/*/lambda/lib